.nav-link-base {
  font-size: 0.875rem;
  font-weight: 500;
  transition: color 0.3s ease;
  text-decoration: none;
  color: inherit; /* Hereda el color del padre por defecto */
}

.nav-link-base:hover {
  color: hsl(var(--primary));
}